#rssSaveCheckedAnswers,
#rssFillAnswers {
    margin-left: 10px;
    width: 50px;
}

#rssFillAnswers {
    /*Потом надо будет что-нибудь с этим придумать :)*/
    position: absolute;
    left: 450px;
}